################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EcommerceMVC/FileContentIndex/08d23c39-9601-424b-ba13-968614a39b04.vsidx
/.vs/EcommerceMVC
